spring:
  application:
    name: jobrunr-poc
  datasource:
    url: jdbc:h2:file:./data/jobrunrdb;AUTO_SERVER=TRUE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console

management:
  endpoints:
    web:
      exposure:
        include: health,info

jobrunr:
  background-job-server:
    enabled: true
  dashboard:
    enabled: true
    port: 8000
  jobs:
    default-number-of-retries: 3

logging:
  level:
    org.jobrunr: INFO

server:
  port: 8081
